@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.h6-text, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h6, #fhm-discover .discover-banner .discover-banner-content-wrap h6, #fhm-intro-2 .intro-content h6, #fhm-intro .intro-content h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

.hover-button, #fhm-discover .discover-banner .discover-banner-content-wrap a {
  position: relative;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.hover-button:before, #fhm-discover .discover-banner .discover-banner-content-wrap a:before, .hover-button:after, #fhm-discover .discover-banner .discover-banner-content-wrap a:after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.hover-button:before, #fhm-discover .discover-banner .discover-banner-content-wrap a:before {
  left: 0;
  width: 0;
  color: white;
  border: 1px solid white;
  opacity: 0;
}
.hover-button:after, #fhm-discover .discover-banner .discover-banner-content-wrap a:after {
  left: 100%;
  width: 0;
  color: white;
  border: 1px solid white;
  opacity: 0;
}
.hover-button:hover:before, #fhm-discover .discover-banner .discover-banner-content-wrap a:hover:before {
  width: 100%;
  opacity: 1;
}
.hover-button:hover:after, #fhm-discover .discover-banner .discover-banner-content-wrap a:hover:after {
  width: 100%;
  left: 0;
  opacity: 1;
}

.hover-button2 {
  position: sticky;
  overflow: hidden;
  transition: all 0.35s;
}
.hover-button2:before, .hover-button2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #c78410;
  z-index: -1;
  transition: all 0.35s;
}
.hover-button2:before {
  opacity: 0.5;
}
.hover-button2:after {
  transition-delay: 0.2s;
}
.hover-button2:hover:before, .hover-button2:hover:after {
  border-color: #c78410;
  top: 0;
}

.hover-link:hover, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h3:hover {
  color: #c78410;
}
.hover-link:hover svg path, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h3:hover svg path {
  fill: #c78410;
}

@keyframes borderRadius {
  0% {
    border-top-right-radius: 0px;
  }
  25% {
    border-top-right-radius: 25px;
  }
  50% {
    border-top-right-radius: 50px;
  }
  75% {
    border-top-right-radius: 75px;
  }
  100% {
    border-top-right-radius: 100px;
  }
}
@keyframes overlay {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
#fhm-banner {
  position: relative;
  width: 100%;
  aspect-ratio: 1600/797;
  margin-bottom: 100px;
}
#fhm-banner img {
  opacity: 0.8;
}
#fhm-banner .banner-content {
  position: absolute;
  top: 174px;
}
#fhm-banner .banner-content h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 275;
  line-height: 74px; /* 115.625% */
  letter-spacing: 6.4px;
  text-transform: uppercase;
  max-width: 308px;
}
#fhm-banner .banner-content h3 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 80px; /* 285.714% */
  letter-spacing: 0.14px;
}

#fhm-intro {
  position: relative;
}
#fhm-intro .intro-bg {
  position: absolute;
  max-width: 810px;
  right: 0;
  top: -130px;
}
#fhm-intro .intro-content {
  margin-top: 280px;
  margin-bottom: 270px;
}
#fhm-intro .intro-content h6 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-bottom: 7px;
}
#fhm-intro .intro-content h2 {
  color: #ffffff;
  font-family: "Marcellus", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.09px;
}
#fhm-intro .intro-content p {
  text-align: justify;
  margin: 3px 0 26px;
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
}
#fhm-intro .intro-content .intro-content-list .intro-content-item {
  gap: 8px;
  margin-bottom: 16px;
}
#fhm-intro .intro-content .intro-content-list .intro-content-item span {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
}

#fhm-firgures {
  margin-bottom: 100px;
}
#fhm-firgures .firgures-number {
  color: #bfbfbf;
  font-feature-settings: "liga" off;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 275;
  line-height: 72px;
}
#fhm-firgures .firgures-info {
  color: #bfbfbf;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.2px;
}

#fhm-intro-2 {
  position: relative;
}
#fhm-intro-2 .intro-bg {
  position: absolute;
  max-width: 810px;
  left: 0;
  top: 0x;
}
#fhm-intro-2 .intro-content {
  margin-top: 150px;
  margin-bottom: 270px;
}
#fhm-intro-2 .intro-content h6 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-bottom: 7px;
}
#fhm-intro-2 .intro-content h2 {
  color: #ffffff;
  font-family: "Marcellus", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.09px;
}
#fhm-intro-2 .intro-content p {
  text-align: justify;
  margin: 3px 0 26px;
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
}
#fhm-intro-2 .intro-content .intro-content-list .intro-content-item {
  gap: 8px;
  margin-bottom: 16px;
}
#fhm-intro-2 .intro-content .intro-content-list .intro-content-item span {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
}

#fhm-discover {
  margin-bottom: 500px;
}
#fhm-discover .discover-banner img {
  opacity: 0.8;
  aspect-ratio: 400/185;
}
#fhm-discover .discover-banner .discover-banner-content-wrap {
  top: 244px;
}
#fhm-discover .discover-banner .discover-banner-content-wrap h6 {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
#fhm-discover .discover-banner .discover-banner-content-wrap h2 {
  color: #ffffff;
  text-align: center;
  font-family: "Marcellus", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px; /* 108.333% */
  margin: 14px 0 46px;
}
#fhm-discover .discover-banner .discover-banner-content-wrap a {
  display: inline-block;
  padding: 22px 42px;
  background-color: #c78410;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
#fhm-discover .discover-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
#fhm-discover .discover-container .discover-container-wrap {
  width: 100%;
  position: absolute;
  max-width: 1400px;
  padding-top: 97px;
  top: -144px;
  border-top-left-radius: 100px;
  background-color: #000;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-content {
  padding-right: 50px;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-content h6 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-content h3 {
  color: #ffffff;
  font-family: "Marcellus", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px; /* 117.647% */
  text-transform: capitalize;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-content p {
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
  margin: 8px 0 26px;
  text-align: justify;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img {
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img img {
  transition: all 300ms ease-out;
  height: 441px;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img .discover-container-img-content {
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  width: 100%;
  height: 86px;
  padding: 25px 36px 18px;
  transition: all 0.7s ease-out;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img .discover-container-img-content span {
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px; /* 127.273% */
  letter-spacing: 0.55px;
  margin-bottom: 5px;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img .discover-container-img-content .overtext {
  transition: all 300ms ease-out;
  transform: translateY(40px);
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img .discover-container-img-content .discover-container-img-content-detail {
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img .discover-container-img-content .discover-container-img-content-detail h5 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img:hover, #fhm-discover .discover-container .discover-container-wrap .discover-container-img:focus {
  width: 33.3333333%;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img:hover .discover-container-img-content, #fhm-discover .discover-container .discover-container-wrap .discover-container-img:focus .discover-container-img-content {
  opacity: 0.8;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img:hover .discover-container-img-content .overtext, #fhm-discover .discover-container .discover-container-wrap .discover-container-img:focus .discover-container-img-content .overtext {
  transform: translateY(0px);
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img:hover .discover-container-img-content .overtextspan, #fhm-discover .discover-container .discover-container-wrap .discover-container-img:focus .discover-container-img-content .overtextspan {
  opacity: 0.8;
}
#fhm-discover .discover-container .discover-container-wrap .discover-container-img:hover .discover-container-img-content .overtext.discover-container-img-content-detail, #fhm-discover .discover-container .discover-container-wrap .discover-container-img:focus .discover-container-img-content .overtext.discover-container-img-content-detail {
  opacity: 0.8;
  transform: translateX(0px);
}

#fhm-award {
  background-color: #202020;
  padding: 80px 0 60px;
}
#fhm-award .award-heading {
  margin-bottom: 35px;
}
#fhm-award .award-heading h3 {
  color: #ffffff;
  text-align: center;
  font-family: "Marcellus", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 54px; /* 158.824% */
  text-transform: capitalize;
}
#fhm-award .award-list {
  justify-content: center;
  flex-wrap: wrap;
  gap: 34px;
  overflow-x: auto;
  scroll-behavior: smooth; /* Enable smooth scrolling */
  white-space: nowrap;
}
#fhm-award .award-list .award-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 120px;
  background-color: #303030;
  margin-bottom: 37px;
}
#fhm-award .award-list .award-item:hover svg path {
  fill: #c78410;
  stroke: #c78410;
}

#fhm-network {
  margin: 100px 0;
}
#fhm-network .network-heading {
  margin-bottom: 90px;
}
#fhm-network .network-heading h3 {
  color: #ffffff;
  text-align: center;
  font-family: "Marcellus", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 54px; /* 158.824% */
  text-transform: capitalize;
}
#fhm-network .network-map svg path:hover {
  fill: #c78410;
}

@media only screen and (max-width: 1366px) {
  #fhm-banner .banner-content .banner-content-button a {
    padding: 15px 33px;
    font-size: 15px;
    letter-spacing: 2px;
  }
  #fhm-intro .intro-content {
    margin-bottom: 400px;
  }
}
@media only screen and (max-width: 1199px) {
  .h6, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h6, #fhm-discover .discover-banner .discover-banner-content-wrap h6, #fhm-intro .intro-content h6 {
    font-size: 10px;
  }
  .p, #fhm-discover .discover-container .discover-container-wrap .discover-container-content p, #fhm-intro .intro-content p {
    font-size: 13px;
    line-height: 25px;
  }
  .button, #fhm-discover .discover-container .discover-container-wrap .discover-container-content .discover-link, #fhm-intro .intro-content .intro-content-button {
    padding: 15px 33px;
    font-size: 15px;
    letter-spacing: 2px;
  }
  #fhm-banner .banner-content {
    top: 100px;
  }
  #fhm-banner .banner-content h1 {
    font-size: 60px;
  }
  #fhm-intro .intro-bg {
    top: -50px;
  }
  #fhm-intro .intro-bg img {
    border-top-left-radius: 150px;
  }
  #fhm-intro .intro-content {
    margin: 140px 0;
  }
  #fhm-intro-2 .intro-content {
    margin: 20px 0 120px;
  }
  #fhm-discover {
    margin-bottom: 540px;
  }
  #fhm-discover .discover-banner .discover-banner-content-wrap {
    top: 100px;
  }
  #fhm-discover .discover-container .discover-container-wrap {
    padding-top: 144px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-img a {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .h6-ipad, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h6, #fhm-discover .discover-banner .discover-banner-content-wrap h6, #fhm-intro-2 .intro-content h6, #fhm-intro .intro-content h6 {
    font-size: 12px;
  }
  .p-ipad, #fhm-discover .discover-container .discover-container-wrap .discover-container-content p, #fhm-intro-2 .intro-content p,
  #fhm-intro-2 .intro-content .intro-content-list .intro-content-item span, #fhm-intro .intro-content p {
    font-size: 14px;
    line-height: 20px;
  }
  .h3-ipad, #fhm-network .network-heading h3, #fhm-award .award-heading h3, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h3, #fhm-discover .discover-banner .discover-banner-content-wrap h2, #fhm-intro-2 .intro-content h2, #fhm-intro .intro-content h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .button-ipad, #fhm-discover .discover-banner .discover-banner-content-wrap a {
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 2px;
  }
  #fhm-banner .banner-content {
    top: 30%;
    text-align: center;
  }
  #fhm-banner .banner-content h1 {
    max-width: unset;
    font-size: 45px;
    line-height: 50px;
  }
  #fhm-intro .intro-bg {
    top: 0px;
  }
  #fhm-intro .intro-bg img {
    border-top-left-radius: 100px;
  }
  #fhm-intro .intro-content {
    margin: 120px 0 90px;
  }
  #fhm-firgures {
    height: unset;
    margin-bottom: 80px;
  }
  #fhm-firgures .firgures-number {
    font-size: 50px;
    line-height: 60px;
  }
  #fhm-intro-2 .intro-bg {
    top: 22px;
  }
  #fhm-intro-2 .intro-content {
    margin-top: 0;
    margin-bottom: 100px;
  }
  #fhm-discover {
    margin-bottom: 420px;
  }
  #fhm-discover .discover-banner .discover-banner-content-wrap {
    top: 100px;
  }
  #fhm-discover .discover-banner .discover-banner-content-wrap h2 {
    margin-bottom: 30px;
  }
  #fhm-discover .discover-container .discover-container-wrap {
    top: -120px;
    border-top-left-radius: 80px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-content {
    padding: 0 0 0 10px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-img img {
    height: 300px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-img .discover-container-img-content {
    padding: 25px;
  }
  #fhm-award {
    padding: 50px 0 33px;
  }
  #fhm-network {
    margin: 50px 0;
  }
  #fhm-network .network-heading {
    margin-bottom: 50px;
  }
}
@media (max-width: 819px) {
  #fhm-award {
    margin: 0;
    overflow: hidden;
  }
  #fhm-award .container .award-list {
    justify-content: unset;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 10px; /* Adjust the gap between slides as needed */
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #fhm-award .container .award-list .award-item {
    min-width: 200px;
    height: 120px;
  }
}
@media (min-width: 767px) and (max-width: 819px) {
  .h3-ipad-mini, #fhm-network .network-heading h3, #fhm-award .award-heading h3, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h3, #fhm-discover .discover-banner .discover-banner-content-wrap h2, #fhm-intro-2 .intro-content h2, #fhm-intro .intro-content h2 {
    font-size: 25px;
    line-height: 30px;
  }
  .button-ipad-mini, #fhm-discover .discover-container .discover-container-wrap .discover-container-content .discover-link, #fhm-discover .discover-banner .discover-banner-content-wrap a {
    padding: 5px 20px;
    font-size: 9px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  #fhm-intro .intro-bg img {
    aspect-ratio: 4/5;
  }
  #fhm-intro .intro-content {
    margin: 120px 0 130px;
  }
  #fhm-firgures {
    margin-bottom: 60px;
  }
  #fhm-intro-2 .intro-bg img {
    aspect-ratio: 4/5;
  }
  #fhm-intro-2 .intro-content {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  #fhm-discover {
    margin-bottom: 300px;
  }
  #fhm-discover .discover-banner .discover-banner-content-wrap {
    top: 50px;
  }
  #fhm-discover .discover-container .discover-container-wrap {
    border-top-left-radius: 40px;
    padding-top: 75px;
    top: -150px;
  }
  #fhm-network .network-heading {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .h3-ipad-sm, #fhm-network .network-heading h3, #fhm-award .award-heading h3, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h3, #fhm-discover .discover-banner .discover-banner-content-wrap h2, #fhm-intro-2 .intro-content h2, #fhm-intro .intro-content h2 {
    font-size: 23px;
    line-height: 38px;
  }
  #fhm-banner .banner-content {
    top: 45px;
  }
  #fhm-banner .banner-content .banner-content-button {
    margin-top: 9px;
  }
  #fhm-intro {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column-reverse;
  }
  #fhm-intro .intro-bg {
    position: relative;
  }
  #fhm-intro .intro-content {
    margin: 0px 0 20px;
  }
  #fhm-intro .intro-content p {
    text-align: justify;
  }
  #fhm-intro-2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  #fhm-intro-2 .intro-bg {
    position: relative;
  }
  #fhm-intro-2 .intro-content {
    margin-bottom: 100px;
  }
  #fhm-discover {
    margin-bottom: 500px;
  }
  #fhm-discover .discover-banner .discover-banner-content-wrap {
    top: 30px;
  }
  #fhm-discover .discover-container .discover-container-wrap {
    top: -150px;
    padding-top: 100px;
  }
  #fhm-network .network-heading {
    margin-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .p-s, #fhm-discover .discover-container .discover-container-wrap .discover-container-content p, #fhm-intro-2 .intro-content .intro-content-list .intro-content-item span, #fhm-intro-2 .intro-content p, #fhm-intro .intro-content .intro-content-list .intro-content-item span, #fhm-intro .intro-content p {
    font-size: 10px;
    line-height: 16px;
  }
  .h3-s, #fhm-network .network-heading h3, #fhm-award .award-heading h3, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h3, #fhm-discover .discover-banner .discover-banner-content-wrap h2, #fhm-intro-2 .intro-content h2, #fhm-intro .intro-content h2 {
    font-size: 23px;
    line-height: 28px;
  }
  .button-s, #fhm-discover .discover-banner .discover-banner-content-wrap a {
    padding: 6px 20px;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 300;
  }
  #fhm-banner {
    margin-bottom: 0;
  }
  #fhm-banner .banner-bg {
    opacity: 0.6;
  }
  #fhm-banner .banner-content {
    text-align: center;
    top: 40px;
  }
  #fhm-banner .banner-content h1 {
    font-size: 35px;
  }
  #fhm-banner .banner-content h3 {
    font-size: 26px;
    line-height: 28px;
  }
  #fhm-intro {
    display: flex;
    flex-direction: column-reverse;
  }
  #fhm-intro .intro-bg {
    position: relative;
  }
  #fhm-intro .intro-content {
    margin: 65px 0 20px;
    text-align: start;
  }
  #fhm-intro .intro-content .intro-content-list .intro-content-item {
    margin: 0;
  }
  #fhm-firgures {
    margin: 50px 0;
  }
  #fhm-firgures .col-6 {
    text-align: center;
  }
  #fhm-intro-2 {
    gap: 0px;
  }
  #fhm-intro-2 .intro-bg {
    position: unset;
  }
  #fhm-intro-2 .intro-content {
    margin: 20px 0 50px;
  }
  #fhm-intro-2 .intro-content h6 {
    text-align: start;
  }
  #fhm-intro-2 .intro-content h2 {
    text-align: start;
  }
  #fhm-intro-2 .intro-content .intro-content-list .intro-content-item {
    margin: 0;
  }
  #fhm-discover {
    margin-bottom: 430px;
  }
  #fhm-discover .discover-banner .discover-banner-content-wrap {
    top: 20px;
  }
  #fhm-discover .discover-banner .discover-banner-content-wrap h2 {
    margin-bottom: 15px;
  }
  #fhm-discover .discover-container .discover-container-wrap {
    padding-top: 30px;
    top: -50px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-content {
    text-align: center;
    margin-bottom: 30px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-content p {
    text-align: justify;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-img {
    padding: 0 5px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-img img {
    height: 200px;
  }
  #fhm-award .award-list .award-item {
    width: 131px;
    height: 58px;
    margin: 0;
  }
  #fhm-award .award-list .award-item svg {
    width: 115px;
    height: auto;
  }
}
@media (max-width: 424px) {
  .h3-xs, #fhm-network .network-heading h3, #fhm-award .award-heading h3, #fhm-discover .discover-container .discover-container-wrap .discover-container-content h3, #fhm-discover .discover-banner .discover-banner-content-wrap h2, #fhm-intro-2 .intro-content h2, #fhm-intro .intro-content h2 {
    font-size: 17px;
    line-height: 25px;
  }
  #fhm-banner .banner-content {
    min-width: 320px;
    left: 0;
    top: 30px;
  }
  #fhm-banner .banner-content h1 {
    font-size: 25px;
    line-height: 25px;
  }
  #fhm-banner .banner-content h3 {
    font-size: 19px;
  }
  #fhm-intro {
    margin-bottom: 50px;
  }
  #fhm-intro .intro-content {
    margin: 50px 0 10px;
  }
  #fhm-discover {
    margin-bottom: 500px;
  }
  #fhm-discover .discover-banner .discover-banner-content-wrap {
    top: 10px;
  }
  #fhm-discover .discover-banner .discover-banner-content-wrap h2 {
    margin-bottom: 10px;
  }
  #fhm-discover .discover-container .discover-container-wrap {
    border-top-left-radius: 40px;
    padding-top: 30px;
    top: -30px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-content {
    margin-bottom: 30px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-content p {
    margin-bottom: 20px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-img {
    padding: 0 5px;
  }
  #fhm-discover .discover-container .discover-container-wrap .discover-container-img img {
    height: 200px;
  }
  #fhm-award {
    padding: 10px 0 30px;
  }
  #fhm-award .award-heading {
    margin: 25px;
  }
  #fhm-award .award-list {
    gap: 10px;
  }
  #fhm-award .award-list .award-item {
    width: 131px;
    height: 58px;
    margin: 0;
  }
  #fhm-award .award-list .award-item svg {
    width: 100px;
    height: auto;
  }
}