@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@keyframes borderRadius {
  0% {
    border-top-right-radius: 0px;
  }
  25% {
    border-top-right-radius: 25px;
  }
  50% {
    border-top-right-radius: 50px;
  }
  75% {
    border-top-right-radius: 75px;
  }
  100% {
    border-top-right-radius: 100px;
  }
}
@keyframes overlay {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.h6-text, #fhm-project .project-heading h6, #fhm-discover .discover-container .container .discover-container-wrap .discover-container-content h6, #fhm-discover .discover-banner .discover-banner-content-wrap h6, #fhm-services .services-heading h6, #fhm-intro .intro-content h6, #fhm-banner .banner-content h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

#fhm-banner {
  position: relative;
  width: 100%;
  aspect-ratio: 1600/687;
  margin-bottom: 115px;
}
#fhm-banner .banner-content {
  position: absolute;
  top: 89px;
}
#fhm-banner .banner-content h6 {
  font-size: 14px;
  color: #ffffff;
}
#fhm-banner .banner-content h1 {
  color: #ffffff;
  font-family: "Marcellus", serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 70px;
}
#fhm-banner .banner-content p {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.48px;
  margin-top: 8px;
}
#fhm-banner .banner-content .banner-content-button {
  margin-top: 24px;
}
#fhm-banner .banner-content .banner-content-button a {
  display: inline-block;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding: 20px 50px;
  background-color: transparent;
  border: 1px solid #fff;
}

#fhm-intro {
  position: relative;
}
#fhm-intro .intro-bg {
  max-width: 810px;
  right: 0;
  top: -79px;
}
#fhm-intro .intro-bg img {
  border-top-left-radius: 200px;
}
#fhm-intro .intro-content {
  margin-top: 194px;
  margin-bottom: 471px;
}
#fhm-intro .intro-content h6 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-bottom: 7px;
}
#fhm-intro .intro-content h2 {
  color: #ffffff;
  font-family: "Marcellus", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.09px;
}
#fhm-intro .intro-content p {
  margin: 3px 0 26px;
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
}
#fhm-intro .intro-content .intro-content-button {
  display: inline-block;
  background-color: #c78410;
  padding: 18px 35px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

#fhm-services {
  margin-bottom: 78px;
}
#fhm-services .services-heading h6 {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
#fhm-services .services-heading h3 {
  color: #ffffff;
  text-align: center;
  font-family: "Marcellus", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.085px;
  margin: 8px 0 40px;
}
#fhm-services .services-item {
  gap: 46px;
  margin-bottom: 40px;
}
#fhm-services .services-item:hover .service-item-wrap {
  animation: borderRadius 0.1s linear;
  border-top-right-radius: 100px;
}
#fhm-services .services-item .services-item-bg {
  background-color: #c78410;
}
#fhm-services .services-item .service-item-wrap {
  background-color: #202020;
  padding: 43px 35px 45px;
}
#fhm-services .services-item .service-item-wrap .services-item-content h5 {
  margin: 55px 0 11px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.09px;
}
#fhm-services .services-item .service-item-wrap .services-item-content p {
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.07px;
}

#fhm-firgures {
  height: 250px;
  background-color: rgba(199, 132, 16, 0.3019607843);
}
#fhm-firgures .firgures-number {
  color: #bfbfbf;
  font-feature-settings: "liga" off;
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 275;
  line-height: 72px;
}
#fhm-firgures .firgures-info {
  color: #bfbfbf;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.2px;
}

#fhm-discover .discover-banner img {
  opacity: 0.4;
  aspect-ratio: 200/119;
}
#fhm-discover .discover-banner .discover-banner-content-wrap {
  top: 244px;
}
#fhm-discover .discover-banner .discover-banner-content-wrap h6 {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
#fhm-discover .discover-banner .discover-banner-content-wrap h2 {
  color: #ffffff;
  text-align: center;
  font-family: "Marcellus", serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 52px; /* 108.333% */
  margin: 14px 0 46px;
}
#fhm-discover .discover-banner .discover-banner-content-wrap a {
  display: inline-block;
  padding: 22px 42px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
#fhm-discover .discover-container .container {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
#fhm-discover .discover-container .container .discover-container-wrap {
  position: absolute;
  max-width: 1400px;
  padding: 97px 121px;
  top: 808px;
  border-top-left-radius: 100px;
  background-color: #000;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-content h6 {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-content h3 {
  color: #ffffff;
  font-family: "Marcellus", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px; /* 117.647% */
  text-transform: capitalize;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-content p {
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
  margin: 8px 0 26px;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-content a {
  padding: 18px 35px;
  background-color: #c78410;
  display: inline-block;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img img {
  transition: all 300ms ease-out;
  height: 100%;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img img:first-child {
  aspect-ratio: 356/411;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img .discover-container-img-content {
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 86px;
  padding: 25px 36px 18px;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img .discover-container-img-content span {
  transition-delay: 0.1s;
  transition-duration: 0.2s;
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px; /* 127.273% */
  letter-spacing: 0.55px;
  margin-bottom: 5px;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img .discover-container-img-content .overtext {
  transition: all 300ms ease-out;
  transform: translateY(40px);
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img .discover-container-img-content .overtext .discover-container-img-content-detail {
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img .discover-container-img-content .overtext .discover-container-img-content-detail h5 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img:hover .discover-container-img-content, #fhm-discover .discover-container .container .discover-container-wrap .discover-container-img:focus .discover-container-img-content {
  opacity: 0.8;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img:hover .discover-container-img-content .overtext, #fhm-discover .discover-container .container .discover-container-wrap .discover-container-img:focus .discover-container-img-content .overtext {
  transform: translateY(0px);
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img:hover .discover-container-img-content .overtextspan, #fhm-discover .discover-container .container .discover-container-wrap .discover-container-img:focus .discover-container-img-content .overtextspan {
  opacity: 0.8;
}
#fhm-discover .discover-container .container .discover-container-wrap .discover-container-img:hover .discover-container-img-content .overtext.discover-container-img-content-detail, #fhm-discover .discover-container .container .discover-container-wrap .discover-container-img:focus .discover-container-img-content .overtext.discover-container-img-content-detail {
  opacity: 0.8;
  transform: translateX(0px);
}

#fhm-project {
  margin-top: 506px;
  margin-bottom: 100px;
}
#fhm-project .project-heading {
  margin-bottom: 51px;
}
#fhm-project .project-heading h6 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  margin-bottom: 13px;
}
#fhm-project .project-heading .project-heading-main h4 {
  color: #ffffff;
  font-family: "Marcellus", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px; /* 117.647% */
  letter-spacing: 0.085px;
  text-transform: capitalize;
}
#fhm-project .project-heading .project-heading-main .project-heading-link {
  gap: 10px;
}
#fhm-project .project-heading .project-heading-main .project-heading-link a {
  color: #c78410;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.07px;
  text-transform: uppercase;
}
#fhm-project .project-list .project-item {
  position: relative;
  margin-bottom: 33px;
  cursor: pointer;
}
#fhm-project .project-list .project-item:hover .project-item-info {
  animation: overlay 0.1s linear forwards;
  text-align: center;
  background-color: transparent;
}
#fhm-project .project-list .project-item .project-item-info {
  position: absolute;
  left: 10.5px;
  left: 0;
  bottom: 0;
  padding: 10px 30px;
  background-color: #000;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fhm-project .project-list .project-item .project-item-info h5 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

#fhm-body-banner {
  margin-bottom: 100px;
}
#fhm-body-banner img {
  width: 100%;
  height: auto;
  aspect-ratio: 401/190;
}

#fhm-feedback {
  margin-bottom: 100px;
}
#fhm-feedback .feedback-heading {
  margin-bottom: 49px;
}
#fhm-feedback .feedback-heading h6 {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
#fhm-feedback .feedback-heading h3 {
  text-align: center;
  color: #ffffff;
  font-family: "Marcellus", serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 40px; /* 117.647% */
  letter-spacing: 0.085px;
  text-transform: capitalize;
}
#fhm-feedback .feedback-list {
  gap: 43px;
}
#fhm-feedback .feedback-list .feedback-item {
  background-color: #202020;
  padding: 42px;
}
#fhm-feedback .feedback-list .feedback-item .feedback-item-info {
  gap: 12px;
}
#fhm-feedback .feedback-list .feedback-item .feedback-item-info .feedback-item-info-avt img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#fhm-feedback .feedback-list .feedback-item .feedback-item-rating {
  margin: 21px 0 15px;
}
#fhm-feedback .feedback-list .feedback-item .feedback-item-content h5 {
  margin-bottom: 11px;
  color: #ffffff;
  font-family: "Marcellus", serif;
  font-size: 20px;
  font-weight: 400;
}
#fhm-feedback .feedback-list .feedback-item .feedback-item-content p {
  text-align: justify;
  color: #bfbfbf;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px; /* 184.615% */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

#fhm-gallery {
  /* ==========================================================================
    Swiper modifications
  ========================================================================== */
  /* doubleing up specificity to win over on transform */
  /* now move prev button more to the left */
  /* ==========================================================================
    content in swiper
  ========================================================================== */
}
#fhm-gallery .lunchbox {
  position: relative;
}
#fhm-gallery .swiper-container {
  margin-top: 2em; /* minor cosmetic */
}
#fhm-gallery .swiper-wrapper {
  /* now pagination is below slides */
  margin-bottom: 3em;
  /* just enough width so slides handing off screen are partially visible */
  width: 73.8%;
}
@media (min-width: 37.5em) {
  #fhm-gallery .swiper-wrapper {
    width: 100%;
  }
}
#fhm-gallery .swiper-slide.swiper-slide {
  /* a single column layout */
  width: 100%;
}
@media (min-width: 37.5em) {
  #fhm-gallery .swiper-slide.swiper-slide {
    /* going for a 2 column layout here */
    width: 50%;
    /* centeredSlides set to true */
    /* reposition so first slide appears on left */
    transform: translateX(-50%);
  }
}
@media (min-width: 43.75em) {
  #fhm-gallery .swiper-slide.swiper-slide {
    /* upping it to a 3 column layout */
    width: 33.3333333333%;
    /* centeredSlides set to true */
    /* reposition so first slide appears on left */
    transform: translateX(-100%);
  }
}
@media (min-width: 53em) {
  #fhm-gallery .swiper-slide.swiper-slide {
    /* and finally the 4 column layout */
    width: 25%;
    /* centeredSlides set to true */
    /* reposition so first slide appears on left */
    transform: translateX(-150%);
  }
}
#fhm-gallery .swiper-pagination {
  /* show on small viewports */
  display: block;
}
@media (min-width: 37.5em) {
  #fhm-gallery .swiper-pagination {
    /* hide on larger viewports per stakeholder recommendation */
    display: none;
  }
}
#fhm-gallery .swiper-button-prev {
  /* but first hide on small viewports */
  display: none;
  left: 0;
  top: 0;
  margin-top: 0;
  /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
  height: calc(100% - 3em);
}
@media (min-width: 37.5em) {
  #fhm-gallery .swiper-button-prev {
    /* show on larger viewports */
    display: block;
  }
}
#fhm-gallery .swiper-button-next {
  /* hide on small viewports */
  display: none;
  right: 0;
  top: 0;
  margin-top: 0;
  /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
  height: calc(100% - 3em);
}
@media (min-width: 37.5em) {
  #fhm-gallery .swiper-button-next {
    /* show on larger viewports */
    display: block;
  }
}
#fhm-gallery .product {
  /* odds are you will use flexbox */
  /* center it */
  margin-left: auto;
  margin-right: auto;
  /* adjust the width to add or remove whitespace  */
  width: 82%;
}
#fhm-gallery .photograph {
  /* if parent is flex it will stretch this image */
  display: block;
  height: auto;
  width: 100%;
}