@import "./variables";

// <!-- START BANNER -->
#fhm-banner {
  position: relative;
  width: 100%;
  aspect-ratio: 1600/797;
  img {
    opacity: 0.7;
  }

  .banner-content {
    position: absolute;
    top: 174px;
    h1 {
      color: $text-white;
      font-family: $font-family;
      font-size: 64px;
      font-weight: 275;
      line-height: 74px; /* 115.625% */
      letter-spacing: 6.4px;
      text-transform: uppercase;
      max-width: 308px;
    }
    h3 {
      color: $text-white;
      font-family: $font-family;
      font-size: 28px;
      font-weight: 300;
      line-height: 80px; /* 285.714% */
      letter-spacing: 0.14px;
    }
  }
}
// <!-- END BANNER -->

// <!-- START INTRO -->
#fhm-intro {
  position: relative;
  .intro-bg {
    position: absolute;
    max-width: 810px;
    right: 0;
    top: -130px;
  }
  .intro-content {
    margin-top: 280px;
    margin-bottom: 250px;
    h6 {
      @extend .h6-text;
      color: $text-white;
      font-size: 12px;
      margin-bottom: 7px;
      letter-spacing: 2.4px;
      margin-bottom: 12px;
    }
    h2 {
      color: $text-white;
      font-family: $font-family2;
      font-size: 34px;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 0.09px;
      margin-bottom: 21px;
      text-transform: capitalize;
    }
    p {
      margin: 3px 0 21px;
      color: $text-dark-white;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      letter-spacing: 0.07px;
    }
    .intro-content-list {
      .intro-content-item {
        gap: 8px;
        margin-bottom: 16px;
        span {
          color: $text-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px; /* 171.429% */
          letter-spacing: 0.07px;
        }
      }
    }
  }
}
// <!-- END INTRO -->

// <!-- START INTRO SECOND -->
#fhm-intro-2 {
  position: relative;
  margin-top: 100px;
  .intro-bg {
    position: absolute;
    max-width: 810px;
    left: 0;
    top: 0x;
  }
  .intro-content {
    margin-top: 150px;
    margin-bottom: 270px;
    h6 {
      @extend .h6-text;
      color: $text-white;
      font-size: 12px;
      letter-spacing: 2.4px;
      margin-bottom: 7px;
    }
    h2 {
      color: $text-white;
      font-family: $font-family2;
      font-size: 34px;
      font-style: normal;
      font-weight: 400;
      line-height: 44px; /* 129.412% */
      text-transform: capitalize;
    }
    p {
      color: $text-white;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      letter-spacing: 0.07px;
      margin: 21px 0;
    }
    .intro-content-list {
      .intro-content-item {
        gap: 8px;
        margin-bottom: 16px;
        span {
          color: $text-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px; /* 171.429% */
          letter-spacing: 0.07px;
        }
      }
    }
  }
}
// <!-- END INTRO -->

// <!-- START DISCOVER -->
#fhm-discover {
  margin-bottom: 500px;
  .discover-banner {
    img {
      aspect-ratio: 400/185;
    }
    .discover-banner-content-wrap {
      top: 180px;
      h6 {
        @extend .h6-text;
        color: $text-white;
        font-size: 12px;
        text-align: center;
      }
      h2 {
        color: $text-white;
        text-align: center;
        font-family: $font-family2;
        font-size: 48px;
        font-weight: 400;
        line-height: 52px; /* 108.333% */
        margin: 14px 0 46px;
      }
      a {
        display: inline-block;
        padding: 19px 42px;
        background-color: $highlight-color;
        color: $text-white;
        text-align: center;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2.8px;
        text-transform: uppercase;

        @extend .hover-button;
      }
    }
  }
  .discover-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    .discover-container-wrap {
      width: 100%;
      position: absolute;
      max-width: 1400px;
      padding-top: 97px;
      top: -144px;
      border-top-left-radius: 100px;
      background-color: $bg-body;
      .discover-container-content {
        padding-right: 51px;
        h6 {
          @extend .h6-text;
          font-size: 12px;
          color: $text-blur-white;
          margin-bottom: 8px;
        }
        h3 {
          color: $text-white;
          font-family: $font-family2;
          font-size: 34px;
          font-weight: 400;
          line-height: 40px; /* 117.647% */
          text-transform: capitalize;
          @extend .hover-link;
        }
        p {
          color: $text-dark-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
          letter-spacing: 0.07px;
          margin: 8px 0 26px;
        }
      }
      .discover-container-img {
        flex-grow: 1;

        cursor: pointer;
        position: relative;
        overflow: hidden;

        img {
          transition: all 300ms ease-out;
          height: 441px;
        }
        .discover-container-img-content {
          background-color: $bg-body;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
          opacity: 0;
          width: 100%;
          height: 86px;
          padding: 25px 36px 18px;

          transition: all 0.7s ease-out;
          span {
            transition-delay: 0.1s;
            transition-duration: 0.2s;
            color: $text-dark-white;
            font-family: $font-family;
            font-size: 11px;
            font-weight: 400;
            line-height: 14px; /* 127.273% */
            letter-spacing: 0.55px;
            margin-bottom: 5px;
          }
          .overtext {
            transition: all 300ms ease-out;
            transform: translateY(40px);
          }
          .discover-container-img-content-detail {
            // opacity: 0;
            transition-delay: 0.2s;
            transition-duration: 0.2s;
            h5 {
              white-space: nowrap;
              color: $text-white;
              font-family: $font-family;
              font-size: 14px;
              font-weight: 400;
              line-height: 24px; /* 171.429% */
              letter-spacing: 0.07px;
            }
          }
        }

        &:hover,
        &:focus {
          width: 33.3333333%;
          .discover-container-img-content {
            opacity: 0.8;

            .overtext {
              transform: translateY(0px);

              &span {
                opacity: 0.8;
              }

              &.discover-container-img-content-detail {
                opacity: 0.8;
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
  }
}
// <!-- END DISCOVER -->

// <!-- START AWARDS -->
#fhm-award {
  background-color: $bg-element-gray;
  padding: 80px 0 60px;
  .award-heading {
    margin-bottom: 35px;
    h3 {
      color: $text-white;
      text-align: center;
      font-family: $font-family2;
      font-size: 34px;
      font-weight: 400;
      line-height: 54px; /* 158.824% */
      text-transform: capitalize;
    }
  }
  .award-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    overflow-x: auto;
    scroll-behavior: smooth; /* Enable smooth scrolling */
    white-space: nowrap;
    padding-bottom: 10px;
    .award-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 120px;
      background-color: $bg-box-gray;
      &:hover {
        svg {
          path {
            transition: all 0.3s ease;
            fill: $highlight-color;
            stroke: $highlight-color;
          }
        }
      }
    }
  }
}
// <!-- END AWARDS -->

// <!-- START NETWORK -->
#fhm-network {
  margin: 100px 0;
  .network-heading {
    margin-bottom: 90px;
    h3 {
      color: $text-white;
      text-align: center;
      font-family: $font-family2;
      font-size: 34px;
      font-weight: 400;
      line-height: 54px; /* 158.824% */
      text-transform: capitalize;
    }
  }
  .network-map {
    svg {
      path {
        &:hover {
          transition: all 0.4s ease;
          fill: $highlight-color;
        }
      }
    }
  }
}
// <!-- END NETWORK -->
@media (min-width: 1400px) {
  #fhm-intro .intro-content {
    width: 414px;
  }
  #fhm-intro-2 .intro-content {
    padding-left: 74px;
    h2,
    p {
      width: 402px;
    }
  }
}

@media only screen and (max-width: 1366px) {
  #fhm-banner {
    .banner-content {
      .banner-content-button {
        a {
          padding: 15px 33px;
          font-size: 15px;
          letter-spacing: 2px;
        }
      }
    }
  }
  #fhm-intro {
    .intro-content {
      margin-bottom: 400px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .h6 {
    font-size: 10px;
  }
  .p {
    font-size: 13px;
    line-height: 25px;
  }

  .button {
    padding: 15px 33px;
    font-size: 15px;
    letter-spacing: 2px;
  }
  #fhm-banner {
    .banner-content {
      top: 100px;
      h1 {
        font-size: 60px;
      }
    }
  }
  #fhm-intro {
    .intro-bg {
      top: 50%;
      transform: translateY(-50%);
    }
    .intro-content {
      margin: 160px 0;
      h6 {
        @extend .h6;
      }

      p {
        @extend .p;
      }
      .intro-content-button {
        @extend .button;
      }
    }
  }
  #fhm-intro-2 {
    margin-top: 0;
    .intro-bg {
      top: 50%;
      transform: translateY(-50%);
    }
    .intro-content {
      margin: 155px 0;
    }
  }
  #fhm-discover {
    margin-bottom: 540px;
    .discover-banner {
      .discover-banner-content-wrap {
        top: 100px;
        h6 {
          @extend .h6;
        }
      }
    }
    .discover-container {
      .discover-container-wrap {
        padding-top: 110px;
        .discover-container-content {
          h6 {
            @extend .h6;
          }

          p {
            @extend .p;
          }
          .discover-link {
            @extend .button;
          }
        }
        .discover-container-img {
          a {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .h6-ipad {
    font-size: 12px;
  }
  .p-ipad {
    font-size: 14px;
    line-height: 20px;
  }
  .h3-ipad {
    font-size: 35px;
    line-height: 40px;
  }
  .button-ipad {
    padding: 10px 30px;
    font-size: 12px;
    letter-spacing: 2px;
  }
  #fhm-banner {
    .banner-content {
      top: 50%;
      transform: translateY(-50%);
      text-align: center;

      h1 {
        max-width: unset;
        font-size: 45px;
        line-height: 50px;
      }
    }
  }
  #fhm-intro {
    .intro-content {
      margin: 100px 0;
      h6 {
        @extend .h6-ipad;
      }
      h2 {
        @extend .h3-ipad;
      }
      p {
        @extend .p-ipad;
      }
    }
  }
  #fhm-firgures {
    height: unset;
    .firgures-number {
      font-size: 50px;
      line-height: 60px;
    }
  }
  #fhm-intro-2 {
    .intro-content {
      margin: 100px 0;
      h6 {
        @extend .h6-ipad;
      }
      h2 {
        @extend .h3-ipad;
      }
      p,
      .intro-content-list .intro-content-item span {
        @extend .p-ipad;
      }
    }
  }
  #fhm-discover {
    margin-bottom: 420px;
    .discover-banner {
      .discover-banner-content-wrap {
        top: 100px;
        h6 {
          @extend .h6-ipad;
        }
        h2 {
          @extend .h3-ipad;
          margin-bottom: 30px;
        }
        a {
          @extend .button-ipad;
        }
      }
    }
    .discover-container {
      .discover-container-wrap {
        top: -120px;
        border-top-left-radius: 80px;
        .discover-container-content {
          padding: 0 0 0 10px;
          h6 {
            @extend .h6-ipad;
          }
          h3 {
            @extend .h3-ipad;
          }
          p {
            @extend .p-ipad;
          }
        }
        .discover-container-img {
          img {
            height: 300px;
          }
          .discover-container-img-content {
            padding: 2px 25px;
            .overtext {
              margin: 0;
            }
          }
        }
      }
    }
  }
  #fhm-award {
    padding: 40px 0 50px;
    .award-heading {
      h3 {
        @extend .h3-ipad;
      }
    }
  }
  #fhm-network {
    margin: 50px 0;
    .network-heading {
      margin-bottom: 50px;
      h3 {
        @extend .h3-ipad;
      }
    }
  }
}

@media (max-width: 819px) {
  .h3-ipad-mini {
    font-size: 25px;
    line-height: 30px;
  }
  .button-ipad-mini {
    padding: 5px 20px;
    font-size: 9px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  #fhm-intro {
    .intro-bg img {
      aspect-ratio: 4/5;
    }
    .intro-content {
      margin: 130px 0;
      h2 {
        @extend .h3-ipad-mini;
      }
    }
  }

  #fhm-intro-2 {
    .intro-bg img {
      aspect-ratio: 4/5;
    }
    .intro-content {
      margin: 130px 0;

      h2 {
        @extend .h3-ipad-mini;
      }
    }
  }
  #fhm-discover {
    margin-bottom: 300px;
    .discover-banner {
      .discover-banner-content-wrap {
        top: 50px;

        h2 {
          @extend .h3-ipad-mini;
        }
        a {
          @extend .button-ipad-mini;
        }
      }
    }
    .discover-container {
      .discover-container-wrap {
        border-top-left-radius: 40px;
        padding-top: 75px;
        top: -150px;
        .discover-container-content {
          h3 {
            @extend .h3-ipad-mini;
          }

          .discover-link {
            @extend .button-ipad-mini;
          }
        }
      }
    }
  }
  #fhm-award {
    margin: 0;
    overflow: hidden;
    .award-heading {
      h3 {
        @extend .h3-ipad-mini;
      }
    }
    .container {
      .award-list {
        justify-content: unset;
        flex-wrap: nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        // width: 100%;
        gap: 10px; /* Adjust the gap between slides as needed */
        user-select: none;
        .award-item {
          min-width: 200px;
          height: 120px;
        }
      }
    }
  }

  #fhm-network {
    .network-heading {
      margin-bottom: 50px;
      h3 {
        @extend .h3-ipad-mini;
      }
    }
  }
}

@media (max-width: 767px) {
  .h3-ipad-sm {
    font-size: 23px;
    line-height: 38px;
  }
  #fhm-banner {
    .banner-content {
      .banner-content-button {
        margin-top: 9px;
      }
    }
  }
  #fhm-intro {
    display: flex;
    flex-direction: column-reverse;
    .intro-bg {
      position: relative;
      transform: none;
    }
    .intro-content {
      margin: 70px 0 10px;
      h2 {
        @extend .h3-ipad-sm;
      }
    }
  }
  #fhm-firgures {
    margin: 70px 0;
  }
  #fhm-intro-2 {
    display: flex;
    flex-direction: column;
    .intro-bg {
      position: relative;
      transform: none;
    }
    .intro-content {
      margin: 10px 0 70px;

      h2 {
        @extend .h3-ipad-sm;
      }
    }
  }
  #fhm-discover {
    margin-bottom: 500px;
    .discover-banner {
      .discover-banner-content-wrap {
        top: 25%;
        transform: translateY(-50%);
        h2 {
          @extend .h3-ipad-sm;
          margin: 5px 0;
        }
      }
    }
    .discover-container {
      .discover-container-wrap {
        top: -150px;
        padding-top: 60px;
        .discover-container-content {
          h3 {
            @extend .h3-ipad-sm;
          }
        }
        .discover-container-img {
          padding: 0 5px;
          .discover-container-img-content {
            padding: 15px;
            height: fit-content;
          }
        }
      }
    }
  }
  #fhm-award {
    .award-heading {
      margin-bottom: 20px;
      h3 {
        @extend .h3-ipad-sm;
      }
    }
  }
  #fhm-network {
    .network-heading {
      margin-bottom: 20px;

      h3 {
        @extend .h3-ipad-sm;
      }
    }
  }
}

@media (max-width: 575px) {
  .p-s {
    font-size: 10px;
    line-height: 16px;
  }
  .h3-s {
    font-size: 23px;
    line-height: 28px;
  }
  .button-s {
    padding: 6px 20px;
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 300;
  }
  #fhm-banner {
    margin-bottom: 0;
    .banner-bg {
      opacity: 0.6;
    }
    .banner-content {
      text-align: center;
      h1 {
        font-size: 35px;
      }
      h3 {
        font-size: 26px;
        line-height: 28px;
      }
    }
  }
  #fhm-intro {
    display: flex;
    flex-direction: column-reverse;
    .intro-bg {
      position: relative;
    }
    .intro-content {
      margin: 65px 0 20px;
      text-align: start;

      h2 {
        @extend .h3-s;
      }
      p {
        @extend .p-s;
        margin-bottom: 0;
      }
      .intro-content-list .intro-content-item {
        margin: 0;
        span {
          @extend .p-s;
        }
      }
    }
  }
  #fhm-firgures {
    .col-6 {
      text-align: center;
    }
  }
  #fhm-intro-2 {
    gap: 0px;
    .intro-bg {
      position: unset;
    }
    .intro-content {
      margin: 20px 0 50px;
      h6 {
        text-align: start;
      }
      h2 {
        @extend .h3-s;
        text-align: start;
      }
      p {
        @extend .p-s;
        margin-bottom: 0;
      }
      .intro-content-list .intro-content-item {
        margin: 0;
        span {
          @extend .p-s;
        }
      }
    }
  }
  #fhm-discover {
    margin-bottom: 430px;
    .discover-banner {
      .discover-banner-content-wrap {
        top: 35%;
        h2 {
          @extend .h3-s;
          margin-bottom: 15px;
        }
        a {
          @extend .button-s;
        }
      }
    }
    .discover-container {
      .discover-container-wrap {
        padding-top: 30px;
        top: -50px;
        .discover-container-content {
          text-align: center;
          margin-bottom: 30px;
          h3 {
            @extend .h3-s;
          }
          p {
            @extend .p-s;
          }
        }
        .discover-container-img {
          padding: 0 5px;
          img {
            height: 200px;
          }
        }
      }
    }
  }
  #fhm-award {
    .award-heading {
      h3 {
        @extend .h3-s;
      }
    }
    .award-list {
      .award-item {
        width: 131px;
        height: 58px;
        margin: 0;
        svg {
          width: 115px;
          height: auto;
        }
      }
    }
  }
  #fhm-network {
    .network-heading {
      h3 {
        @extend .h3-s;
      }
    }
  }
}

@media (max-width: 424px) {
  .h3-xs {
    font-size: 17px;
    line-height: 25px;
  }
  #fhm-banner {
    .banner-content {
      min-width: 320px;
      left: 0;
      h1 {
        font-size: 25px;
        line-height: 25px;
      }
      h3 {
        font-size: 19px;
      }
    }
  }
  #fhm-intro {
    margin-bottom: 50px;
    .intro-content {
      margin: 50px 0 10px;
      h2 {
        @extend .h3-xs;
      }
    }
  }
  #fhm-award .container {
    .award-heading {
      margin: 15px;
    }
    .award-list .award-item {
      min-width: 131px;
      height: 70px;
    }
  }

  #fhm-intro-2 {
    .intro-content {
      h2 {
        @extend .h3-xs;
      }
    }
  }
  #fhm-discover {
    margin-bottom: 500px;
    .discover-banner {
      .discover-banner-content-wrap {
        top: 40%;
        h2 {
          @extend .h3-xs;
          margin-bottom: 10px;
        }
      }
    }
    .discover-container {
      .discover-container-wrap {
        border-top-left-radius: 40px;
        padding-top: 30px;
        top: -30px;
        .discover-container-content {
          margin-bottom: 30px;
          h3 {
            @extend .h3-xs;
          }
          p {
            margin-bottom: 20px;
          }
        }
        .discover-container-img {
          padding: 0 5px;
          img {
            height: 200px;
          }
        }
      }
    }
  }
  #fhm-award {
    padding: 10px 0 30px;
    .award-heading {
      margin: 25px;
      h3 {
        @extend .h3-xs;
      }
    }
    .award-list {
      gap: 10px;
      .award-item {
        width: 131px;
        height: 58px;
        margin: 0;
        svg {
          width: 100px;
          height: auto;
        }
      }
    }
    // #fhm-network {
    //   .network-heading {
    //     h3 {
    //       @extend .h3-s;
    //     }
    //   }
    // }
  }
  #fhm-network {
    .network-heading {
      h3 {
        @extend .h3-xs;
      }
    }
  }
}
