@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Marcellus&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./variables";

.h6-text {
  font-family: $font-family;
  font-weight: 300;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

// <!-- START BANNER -->
#fhm-banner {
  position: relative;
  width: 100%;
  aspect-ratio: 1600/687;
  margin-bottom: 115px;

  .banner-content {
    position: absolute;
    top: 89px;

    h6 {
      @extend .h6-text;
      font-size: 14px;
      color: $text-color-white;
    }
    h1 {
      color: $text-color-white;
      font-family: $font-family2;
      font-size: 60px;
      font-weight: 400;
      line-height: 70px;
    }
    p {
      color: $text-color-white;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.48px;
      margin-top: 8px;
    }
    .banner-content-button {
      margin-top: 24px;
      a {
        display: inline-block;

        color: $text-color-white;
        font-family: $font-family;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 4px;
        text-transform: uppercase;
        padding: 20px 50px;
        background-color: transparent;
        border: 1px solid $border-color;
      }
    }
  }
}
// <!-- END BANNER -->

// <!-- START INTRO -->
#fhm-intro {
  position: relative;
  .intro-bg {
    max-width: 810px;
    right: 0;
    top: -79px;
    img {
      border-top-left-radius: 200px;
    }
  }
  .intro-content {
    margin-top: 194px;
    margin-bottom: 471px;
    h6 {
      @extend .h6-text;
      color: $text-blur-white;
      font-size: 12px;
      margin-bottom: 7px;
    }
    h2 {
      color: $text-color-white;
      font-family: $font-family2;
      font-size: 36px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.09px;
    }
    p {
      margin: 3px 0 26px;
      color: $text-dark-white;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      letter-spacing: 0.07px;
    }
    .intro-content-button {
      display: inline-block;
      background-color: $bg-main-btn;
      padding: 18px 35px;
      color: $text-color-white;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 2.8px;
      text-transform: uppercase;
    }
  }
}
// <!-- END INTRO -->

// <!-- START SERVICES -->
#fhm-services {
  margin-bottom: 78px;
  .services-heading {
    h6 {
      @extend .h6-text;
      color: $text-blur-white;
      text-align: center;
    }
    h3 {
      color: $text-color-white;
      text-align: center;
      font-family: $font-family2;
      font-size: 34px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.085px;
      margin: 8px 0 40px;
    }
  }
  .services-item {
    gap: 46px;
    margin-bottom: 40px;
    &:hover {
      .service-item-wrap {
        animation: borderRadius 0.1s linear;
        border-top-right-radius: 100px;
      }
    }
    .services-item-bg {
      background-color: $highlight-color;
    }
    .service-item-wrap {
      background-color: $bg-element-gray;
      padding: 43px 35px 45px;
      .services-item-content {
        h5 {
          margin: 55px 0 11px;
          color: $text-color-white;
          font-family: $font-family;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0.09px;
        }
        p {
          color: $text-dark-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: 0.07px;
        }
      }
    }
  }
}
// <!-- END SERVICES -->

// <!-- START FIRGURES -->
#fhm-firgures {
  height: 250px;
  background-color: $bg-element-brown;
  .firgures-number {
    color: $text-dark-white;
    font-feature-settings: "liga" off;
    font-family: $font-family;
    font-size: 60px;
    font-weight: 275;
    line-height: 72px;
  }
  .firgures-info {
    color: $text-dark-white;
    font-family: $font-family3;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.2px;
  }
}
// <!-- END FIRGURES -->

// <!-- START DISCOVER -->
#fhm-discover {
  .discover-banner {
    img {
      opacity: 0.4;
      aspect-ratio: 200/119;
    }
    .discover-banner-content-wrap {
      top: 244px;
      h6 {
        @extend .h6-text;
        color: $text-color-white;
        font-size: 12px;
        text-align: center;
      }
      h2 {
        color: $text-color-white;
        text-align: center;
        font-family: $font-family2;
        font-size: 48px;
        font-weight: 400;
        line-height: 52px; /* 108.333% */
        margin: 14px 0 46px;
      }
      a {
        display: inline-block;
        padding: 22px 42px;
        background-color: transparent;
        border: 1px solid $border-color;
        color: $text-color-white;
        text-align: center;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2.8px;
        text-transform: uppercase;
      }
    }
  }
  .discover-container {
    .container {
      max-width: 100%;
      display: flex;
      justify-content: center;
      .discover-container-wrap {
        position: absolute;
        max-width: 1400px;
        padding: 97px 121px;
        top: 808px;
        border-top-left-radius: 100px;
        background-color: $bg-body;
        .discover-container-content {
          h6 {
            @extend .h6-text;
            font-size: 12px;
            color: $text-blur-white;
            margin-bottom: 8px;
          }
          h3 {
            color: $text-color-white;
            font-family: $font-family2;
            font-size: 34px;
            font-weight: 400;
            line-height: 40px; /* 117.647% */
            text-transform: capitalize;
          }
          p {
            color: $text-dark-white;
            font-family: $font-family;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.07px;
            margin: 8px 0 26px;
          }
          a {
            padding: 18px 35px;
            background-color: $bg-main-btn;
            display: inline-block;
            color: $text-color-white;
            font-family: $font-family;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 2.8px;
            text-transform: uppercase;
          }
        }
        .discover-container-img {
          cursor: pointer;
          position: relative;
          overflow: hidden;

          img {
            transition: all 300ms ease-out;

            height: 100%;
            &:first-child {
              aspect-ratio: 356/411;
            }
          }

          .discover-container-img-content {
            background-color: $bg-body;
            // opacity: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            transition: all 300ms ease-out;
            opacity: 0;
            width: 100%;
            height: 86px;
            padding: 25px 36px 18px;

            span {
              transition-delay: 0.1s;
              transition-duration: 0.2s;
              color: $text-dark-white;
              font-family: $font-family;
              font-size: 11px;
              font-weight: 400;
              line-height: 14px; /* 127.273% */
              letter-spacing: 0.55px;
              margin-bottom: 5px;
            }
            .overtext {
              transition: all 300ms ease-out;
              transform: translateY(40px);

              .discover-container-img-content-detail {
                // opacity: 0;
                transition-delay: 0.2s;
                transition-duration: 0.2s;
                h5 {
                  color: $text-color-white;
                  font-family: $font-family;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 24px; /* 171.429% */
                  letter-spacing: 0.07px;
                }
              }
            }
          }

          &:hover,
          &:focus {
            .discover-container-img-content {
              opacity: 0.8;

              .overtext {
                transform: translateY(0px);

                &span {
                  opacity: 0.8;
                }

                &.discover-container-img-content-detail {
                  opacity: 0.8;
                  transform: translateX(0px);
                }
              }
            }
          }
        }
      }
    }
  }
}
// <!-- END DISCOVER -->

// <!-- START PROJECTS -->
#fhm-project {
  margin-top: 506px;
  margin-bottom: 100px;
  .project-heading {
    margin-bottom: 51px;
    h6 {
      @extend .h6-text;
      color: $text-blur-white;
      font-size: 12px;
      margin-bottom: 13px;
    }
    .project-heading-main {
      h4 {
        color: $text-color-white;
        font-family: $font-family2;
        font-size: 34px;
        font-weight: 400;
        line-height: 40px; /* 117.647% */
        letter-spacing: 0.085px;
        text-transform: capitalize;
      }
      .project-heading-link {
        gap: 10px;
        a {
          color: $highlight-color;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
          letter-spacing: 0.07px;
          text-transform: uppercase;
        }
      }
    }
  }
  .project-list {
    .project-item {
      position: relative;
      margin-bottom: 33px;
      cursor: pointer;
      &:hover {
        .project-item-info {
          animation: overlay 0.1s linear forwards;
          text-align: center;
          background-color: transparent;
        }
      }

      .project-item-info {
        position: absolute;
        left: 10.5px;
        left: 0;
        bottom: 0;

        padding: 10px 30px;
        background-color: $main-color;
        border-top-right-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        h5 {
          color: $text-color-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
          letter-spacing: 0.7px;
          text-transform: uppercase;
        }
      }
    }
  }
}
// <!-- END PROJECTS -->

// <!-- END BODY BANNER -->
#fhm-body-banner {
  margin-bottom: 100px;
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 401/190;
  }
}
// <!-- END BODY BANNER -->

// <!-- START FEEDBACK-->
#fhm-feedback {
  margin-bottom: 100px;
  .feedback-heading {
    margin-bottom: 49px;
    h6 {
      text-align: center;
      color: $text-blur-white;
      font-family: $font-family;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
    h3 {
      text-align: center;
      color: $text-color-white;
      font-family: $font-family2;
      font-size: 34px;
      font-weight: 400;
      line-height: 40px; /* 117.647% */
      letter-spacing: 0.085px;
      text-transform: capitalize;
    }
  }
  .feedback-list {
    gap: 43px;
    .feedback-item {
      background-color: $bg-element-gray;
      padding: 42px;
      .feedback-item-info {
        gap: 12px;
        .feedback-item-info-avt {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
      .feedback-item-rating {
        margin: 21px 0 15px;
      }
      .feedback-item-content {
        h5 {
          margin-bottom: 11px;
          color: $text-color-white;
          font-family: $font-family2;
          font-size: 20px;
          font-weight: 400;
        }
        p {
          text-align: justify;
          color: $text-dark-white;
          font-family: $font-family;
          font-size: 13px;
          font-weight: 300;
          line-height: 24px; /* 184.615% */
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}

#fhm-gallery {
  .lunchbox {
    position: relative;
  }

  /* ==========================================================================
   Swiper modifications
 ========================================================================== */

  .swiper-container {
    margin-top: 2em; /* minor cosmetic */
  }

  .swiper-wrapper {
    /* now pagination is below slides */
    margin-bottom: 3em;

    /* just enough width so slides handing off screen are partially visible */
    width: 73.8%;
  }

  @media (min-width: 37.5em) {
    .swiper-wrapper {
      width: 100%;
    }
  }

  /* doubleing up specificity to win over on transform */
  .swiper-slide.swiper-slide {
    /* a single column layout */
    width: 100%;
  }

  @media (min-width: 37.5em) {
    .swiper-slide.swiper-slide {
      /* going for a 2 column layout here */
      width: 50%;

      /* centeredSlides set to true */
      /* reposition so first slide appears on left */
      transform: translateX(-50%);
    }
  }

  @media (min-width: 43.75em) {
    .swiper-slide.swiper-slide {
      /* upping it to a 3 column layout */
      width: 33.33333333333%;

      /* centeredSlides set to true */
      /* reposition so first slide appears on left */
      transform: translateX(-100%);
    }
  }

  @media (min-width: 53em) {
    .swiper-slide.swiper-slide {
      /* and finally the 4 column layout */
      width: 25%;

      /* centeredSlides set to true */
      /* reposition so first slide appears on left */
      transform: translateX(-150%);
    }
  }

  .swiper-pagination {
    /* show on small viewports */
    display: block;
  }

  @media (min-width: 37.5em) {
    .swiper-pagination {
      /* hide on larger viewports per stakeholder recommendation */
      display: none;
    }
  }

  /* now move prev button more to the left */
  .swiper-button-prev {
    /* but first hide on small viewports */
    display: none;

    left: 0;
    top: 0;

    margin-top: 0;

    /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
    height: calc(100% - 3em);
  }

  @media (min-width: 37.5em) {
    .swiper-button-prev {
      /* show on larger viewports */
      display: block;
    }
  }

  .swiper-button-next {
    /* hide on small viewports */
    display: none;

    right: 0;
    top: 0;

    margin-top: 0;

    /* subtract .swiper-wrapper bottom-margin to vertically center arrow */
    height: calc(100% - 3em);
  }

  @media (min-width: 37.5em) {
    .swiper-button-next {
      /* show on larger viewports */
      display: block;
    }
  }

  /* ==========================================================================
   content in swiper
 ========================================================================== */

  .product {
    /* odds are you will use flexbox */
    // display: flex;

    /* center it */
    margin-left: auto;
    margin-right: auto;

    /* adjust the width to add or remove whitespace  */
    width: 82%;
  }

  .photograph {
    /* if parent is flex it will stretch this image */
    // align-self: center;
    display: block;

    height: auto;
    width: 100%;
  }
}
// <!-- END FEEDBACK-->
