@import "./variables";

.h6-text {
  font-family: $font-family;
  font-weight: 300;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

// <!-- START BANNER -->
#fhm-banner {
  position: relative;
  width: 100%;
  aspect-ratio: 1600/687;
  margin-bottom: 115px;

  .banner-content {
    position: absolute;
    top: 89px;

    h6 {
      @extend .h6-text;
      font-size: 14px;
      color: $text-white;
    }
    h1 {
      color: $text-white;
      font-family: $font-family2;
      font-size: 60px;
      font-weight: 400;
      line-height: 70px;
    }
    p {
      color: $text-white;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0.48px;
      margin-top: 8px;
    }
    .banner-content-button {
      margin-top: 24px;
      a {
        display: inline-block;
        color: $text-white;
        font-family: $font-family;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 4px;
        text-transform: uppercase;
        padding: 20px 50px;
        background-color: transparent;
        border: 1px solid $border-color;

        @extend .hover-button2;
      }
    }
  }
}
// <!-- END BANNER -->

// <!-- START INTRO -->
#fhm-intro {
  position: relative;
  .intro-bg {
    max-width: 810px;
    right: 0;
    top: -79px;
    img {
      border-top-left-radius: 200px;
    }
  }
  .intro-content {
    margin-top: 194px;
    margin-bottom: 471px;
    h6 {
      @extend .h6-text;
      color: $text-blur-white;
      font-size: 12px;
      margin-bottom: 7px;
    }
    h2 {
      color: $text-white;
      font-family: $font-family2;
      font-size: 36px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.09px;
      @extend .hover-link;
    }
    p {
      margin: 3px 0 26px;
      color: $text-dark-white;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      letter-spacing: 0.07px;
    }
    .intro-content-button {
      display: inline-block;
      background-color: #c78410;
      padding: 18px 35px;
      color: $text-white;
      font-family: $font-family;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      @extend .hover-button;
    }
  }
}
// <!-- END INTRO -->

// <!-- START SERVICES -->
#fhm-services {
  margin-bottom: 78px;
  .services-heading {
    h6 {
      @extend .h6-text;
      color: $text-blur-white;
      text-align: center;
    }
    h3 {
      color: $text-white;
      text-align: center;
      font-family: $font-family2;
      font-size: 34px;
      font-weight: 400;
      line-height: 50px;
      letter-spacing: 0.085px;
      margin: 8px 0 40px;
      @extend .hover-link;
    }
  }
  .services-item {
    gap: 46px;
    margin-bottom: 40px;
    &:hover {
      .service-item-wrap {
        animation: borderRadius 0.1s linear;
        border-top-right-radius: 100px;
      }
    }
    .services-item-bg {
      background-color: $highlight-color;
    }
    .service-item-wrap {
      display: block;

      background-color: $bg-element-gray;
      padding: 43px 35px 45px;
      .services-item-content {
        h5 {
          margin: 55px 0 11px;
          color: $text-white;
          font-family: $font-family;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0.09px;
        }
        p {
          color: $text-dark-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: 0.07px;
        }
      }
    }
  }
}
// <!-- END SERVICES -->

// <!-- START FIRGURES -->
#fhm-firgures {
  height: 250px;
  background-color: $bg-element-brown;
  .firgures-number {
    color: $text-dark-white;
    font-feature-settings: "liga" off;
    font-family: $font-family;
    font-size: 60px;
    font-weight: 275;
    line-height: 72px;
  }
  .firgures-info {
    color: $text-dark-white;
    font-family: $font-family3;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.2px;
  }
}
// <!-- END FIRGURES -->

// <!-- START DISCOVER -->
#fhm-discover {
  .discover-banner {
    img {
      opacity: 0.4;
      aspect-ratio: 200/119;
    }
    .discover-banner-content-wrap {
      top: 244px;
      h6 {
        @extend .h6-text;
        color: $text-white;
        font-size: 12px;
        text-align: center;
      }
      h2 {
        color: $text-white;
        text-align: center;
        font-family: $font-family2;
        font-size: 48px;
        font-weight: 400;
        line-height: 52px; /* 108.333% */
        margin: 14px 0 46px;
      }
      a {
        display: inline-block;
        padding: 22px 42px;
        background-color: transparent;
        border: 1px solid $border-color;
        color: $text-white;
        text-align: center;
        font-family: $font-family;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 2.8px;
        text-transform: uppercase;

        @extend .hover-button2;
      }
    }
  }
  .discover-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    .discover-container-wrap {
      position: absolute;
      max-width: 1400px;
      padding: 97px 121px;
      top: -144px;
      border-top-left-radius: 100px;
      background-color: $bg-body;
      .discover-container-content {
        h6 {
          @extend .h6-text;
          font-size: 12px;
          color: $text-blur-white;
          margin-bottom: 8px;
        }
        h3 {
          color: $text-white;
          font-family: $font-family2;
          font-size: 34px;
          font-weight: 400;
          line-height: 40px; /* 117.647% */
          text-transform: capitalize;
          @extend .hover-link;
        }
        p {
          color: $text-dark-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
          letter-spacing: 0.07px;
          margin: 8px 0 26px;
        }
        .discover-link {
          padding: 18px 35px;
          background-color: $bg-main-btn;
          display: inline-block;
          color: $text-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 2.8px;
          text-transform: uppercase;
          @extend .hover-button;
        }
      }
      .discover-container-img {
        cursor: pointer;
        position: relative;
        overflow: hidden;

        img {
          transition: all 300ms ease-out;

          height: 100%;
          &:first-child {
            aspect-ratio: 356/411;
          }
        }

        .discover-container-img-content {
          background-color: $bg-body;
          // opacity: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
          transition: all 300ms ease-out;
          opacity: 0;
          width: 100%;
          height: 86px;
          padding: 25px 36px 18px;

          span {
            transition-delay: 0.1s;
            transition-duration: 0.2s;
            color: $text-dark-white;
            font-family: $font-family;
            font-size: 11px;
            font-weight: 400;
            line-height: 14px; /* 127.273% */
            letter-spacing: 0.55px;
            margin-bottom: 5px;
          }
          .overtext {
            transition: all 300ms ease-out;
            transform: translateY(40px);

            .discover-container-img-content-detail {
              // opacity: 0;
              transition-delay: 0.2s;
              transition-duration: 0.2s;
              h5 {
                color: $text-white;
                font-family: $font-family;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px; /* 171.429% */
                letter-spacing: 0.07px;
              }
            }
          }
        }

        &:hover,
        &:focus {
          .discover-container-img-content {
            opacity: 0.8;

            .overtext {
              transform: translateY(0px);

              &span {
                opacity: 0.8;
              }

              &.discover-container-img-content-detail {
                opacity: 0.8;
                transform: translateX(0px);
              }
            }
          }
        }
      }
    }
  }
}
// <!-- END DISCOVER -->

// <!-- START PROJECTS -->
#fhm-project {
  margin-top: 506px;
  margin-bottom: 100px;
  .project-heading {
    margin-bottom: 51px;
    h6 {
      @extend .h6-text;
      color: $text-blur-white;
      font-size: 12px;
      margin-bottom: 13px;
    }
    .project-heading-main {
      h4 {
        color: $text-white;
        font-family: $font-family2;
        font-size: 34px;
        font-weight: 400;
        line-height: 40px; /* 117.647% */
        letter-spacing: 0.085px;
        text-transform: capitalize;
        @extend .hover-link;
      }
      .project-heading-link {
        gap: 10px;
        a {
          color: $highlight-color;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
          letter-spacing: 0.07px;
          text-transform: uppercase;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
  .project-list {
    .project-item {
      position: relative;
      margin-bottom: 33px;
      display: block; /* Make the entire .project-item clickable */
      text-decoration: none; /* Remove underlines or default link styling */
      color: inherit; /* Inherit text color from parent */

      &:hover .project-item-info {
        animation: overlay 0.1s linear forwards;
        text-align: center;
        background-color: transparent;
      }

      .project-item-info {
        position: absolute;
        left: 10.5px;
        left: 0;
        bottom: 0;
        padding: 10px 30px;
        background-color: $main-color;
        border-top-right-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        h5 {
          color: $text-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.7px;
          text-transform: uppercase;
        }
      }
    }
  }
}
// <!-- END PROJECTS -->

// <!-- END BODY BANNER -->
#fhm-body-banner {
  margin-bottom: 100px;
  img {
    width: 100%;
    height: auto;
    aspect-ratio: 401/190;
  }
}
// <!-- END BODY BANNER -->

// <!-- START FEEDBACK-->
#fhm-feedback {
  margin-bottom: 100px;
  .feedback-heading {
    margin-bottom: 49px;
    h6 {
      text-align: center;
      color: $text-blur-white;
      font-family: $font-family;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: 2.4px;
      text-transform: uppercase;
    }
    h3 {
      text-align: center;
      color: $text-white;
      font-family: $font-family2;
      font-size: 34px;
      font-weight: 400;
      line-height: 40px; /* 117.647% */
      letter-spacing: 0.085px;
      text-transform: capitalize;
    }
  }
  .feedback-list {
    gap: 43px;
    .feedback-item {
      background-color: $bg-element-gray;
      padding: 42px;
      .feedback-item-info {
        gap: 12px;
        .feedback-item-info-avt {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }
      }
      .feedback-item-rating {
        margin: 21px 0 15px;
      }
      .feedback-item-content {
        h5 {
          margin-bottom: 11px;
          color: $text-white;
          font-family: $font-family2;
          font-size: 20px;
          font-weight: 400;
        }
        p {
          text-align: justify;
          color: $text-dark-white;
          font-family: $font-family;
          font-size: 13px;
          font-weight: 300;
          line-height: 24px; /* 184.615% */
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
// <!-- END FEEDBACK-->

// <!-- START GALLERY-->
#fhm-gallery {
  margin-bottom: 60px;
  .gallery-heading {
    h6 {
      @extend .h6-text;
      color: $text-blur-white;
      font-size: 12px;
    }
    h3 {
      color: $text-white;
      font-family: $font-family2;
      font-size: 34px;
      font-weight: 400;
      line-height: 40px; /* 117.647% */
      letter-spacing: 0.085px;
      text-transform: capitalize;
      @extend .hover-link;
    }
  }
  .gallery-container {
    // width: 100%;
    margin-left: calc(((100% - 1160px) / 2));

    .slick-list {
      // max-width: calc(100% - (((100% - 1160px) / 2) - 10px));
      margin: 0;
      padding: 0;

      gap: 33px;
      .slick-track {
        display: flex;
        .slick-slide {
          font-size: 30px;
          text-align: center;
          padding: 40px 20px;
          line-height: 2;
          font-weight: 700;
          img {
            aspect-ratio: 181/225;
            width: 362px;
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .slick-arrow {
      z-index: 1;
      // width: 40px;
      // height: 40px;
    }

    .slick-arrow:before {
      font-size: 30px;
    }

    .slick-next {
      display: none !important;
      right: 16px;
    }

    .slick-prev {
      top: calc(50% - 25px);
      left: -30px;
    }

    .slick-next:before,
    .slick-prev:before {
      color: $highlight-color;
      font-size: 50px;
      opacity: 1;
    }

    button {
      // background-color: #ddd;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      margin: 10px;
      font-size: 18px;
      font-weight: 600;
      transition: all 0.5s;
    }

    button.slick-disabled {
      opacity: 0.6;
    }
  }
}
// <!-- END GALLERY-->

// <!-- START BLOGS-->
#fhm-blog {
  margin-bottom: 100px;
  .blog-heading {
    margin-bottom: 50px;
    h6 {
      @extend .h6-text;
      color: $text-blur-white;
      font-size: 12px;
      text-align: center;
      margin-bottom: 8px;
    }
    h3 {
      text-align: center;
      color: $text-white;
      font-family: $font-family2;
      font-size: 34px;
      font-weight: 400;
      line-height: 40px;
      letter-spacing: 0.085px;
      text-transform: capitalize;
      @extend .hover-link;
    }
  }

  .blog-list {
    .blog-item {
      .blog-item-img {
        &:hover {
          img {
            opacity: 1;
            -webkit-animation: flash 1.5s;
            animation: flash 1.5s;
          }
        }
        display: block;
        .blog-item-img-date {
          background-color: $bg-body;
          padding: 5px 6px;
          top: 12px;
          right: 22.5px;
          text-align: center;
          h6 {
            color: $text-white;
            font-family: $font-family;
            font-size: 10px;
            font-weight: 300;
            line-height: 13px;
            letter-spacing: 0.025px;
            margin: 0;
            width: 32px;
          }
        }
      }
      .blog-item-content {
        margin: 20px 0;
        h4 {
          color: $text-white;
          font-family: $font-family2;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px; /* 140% */
          letter-spacing: 0.03px;
          @extend .hover-link;
        }
        p {
          color: $text-dark-white;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.07px;
        }
      }
      .blog-item-link {
        a {
          color: $highlight-color;
          text-align: center;
          font-family: $font-family;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 2.8px;
          text-decoration-line: underline;
          text-transform: uppercase;
          &:hover {
            opacity: 0.9;
          }
        }
      }
    }
  }
}
// <!-- END BLOGS-->
